<div class="schedule">
  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Outcome</th>
    </tr>
    <tr ng-repeat='game in data.games'>
      <td>{{game.date}}</td>
      <td>{{game.time}}</td>
      <td><a href="/#!/teamview/{{game.homeTeam}}">{{game.homeTeam}}</a></td>
      <td><a href="/#!/teamview/{{game.visitingTeam}}">{{game.visitingTeam}}</a></td>
      <td>{{game.outcome}}</td>
    </tr>
  </table>

  <div class="add-buttons">
    <button id="add-game" ng-click="showGameForm()">Add Game</button>
  </div>

  <div class="add-form game-form">Add Game

  <form ng-submit='addGame()'>
      <p>Date</p>
      <input class='text' type='text' name='date' ng-model='newGame.date' placeholder="YYYY-MM-DD" required><br />
      <p>Time</p>
      <input class='text' type='text' name='time' ng-model='newGame.time' placeholder="e.g. 14:30" required><br />
      <p>Home Team<p>
      <select class='text' name='homeTeam' ng-model='newGame.homeTeam' required>
        <option ng-repeat="team in data.teams">{{team.name}}</option>
      </select><br />
      <p>Visiting Team</p>
      <select class='text' name='homeTeam' ng-model='newGame.visitingTeam' required>
        <option ng-repeat="team in data.teams">{{team.name}}</option>
      </select><br />
      <p>Outcome</p>
      <input class='text' type='text' name='outcome' ng-model='newGame.outcome' placeholder="Leave blank if TBD."><br />
      <br />
      <input type='submit' value='Add Game'>
    </form>

  </div>
</div>